@page "/obtained"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
<html>
<!--Esta pagina nos servirá para informar al usuario de que el correo ha sido enviado
	Simplemente contendrá un boton para volver a la pagina de login.
-->
	<head>
		<title>Iniciar sesión</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--===============================================================================================-->
		<link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/css/util.css">
		<link rel="stylesheet" type="text/css" href="~/css/main.css">
		<!--===============================================================================================-->

		<style>
			.input-with-icon {
				position: relative;
			}

				.input-with-icon input {
					padding-right: 30px;
				}

				.input-with-icon .toggle-password {
					position: absolute;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
					cursor: pointer;
				}

		</style>
	</head>
    <body>
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<div class="login100-form-title" style="">
						<img src="images/bg-01.svg" alt="Controlnet" />
					</div>
					<h5 style="margin-left:30px;margin-right:30px">El email deberia llegar en poco, revise su bandeja de entrada</h5>
					<!--Boton que al ser pulsado nos redigirá a la pagina de Login.-->
					<button style="margin-left:235px;margin-top:30px;margin-bottom:30px;" class="login100-form-btn">
						<a style="color:white" href="/Login">Volver a la pantalla</a>
					</button>
				</div>
			</div>
		</div>
    </body>
</html>
