@page "/ResetPassword"
@attribute [AllowAnonymous]
@using Microsoft.AspNetCore.Authorization
@model Controlnet_Project_Manager.Pages.Login_Restablecimiento.ResetPasswordModel

@{
    ViewData["Title"] = "Reset password";
}

<html>
    <head>
		<title>Restablecer Contraseña</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
	<!--===============================================================================================-->
	<style>
		.input-with-icon {
			position: relative;
		}

			.input-with-icon input {
				padding-right: 30px;
			}

			.input-with-icon .toggle-password {
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
			}

	</style>
    </head>
	<body>
	<div style="justify-content:center">
		<h1 style="margin-left:40%">Restablecer</h1>
		<hr/>
		<div style="justify-content:center" class="row">
			<div class="col-md-4">
				<div class="login100-form-title" style="">
					<img src="images/bg-01.svg" alt="Controlnet" />
				</div>
				<form asp-page="/ResetPassword" method="post">
					@Html.AntiForgeryToken()
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<span>La contraseña debe tener un caracter alfanúmerico, minúscula y mayúscula</span>
					<div style="margin-top:30px" class="wrap-input100 validate-input m-b-26" data-validate="El email debe tener formato correcto">
						<span class="label-input100">Email</span>
						<input asp-for="Input.Email" class="input100 has-val" type="text" name="Email" autocomplete="Email" placeholder="Introduzca el correo electrónico">
						<label asp-for="Input.Email" class="form-label"></label>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
						<span class="focus-input100"></span>
					</div>
					<div style="margin-top:30px" class="wrap-input100 validate-input m-b-18" data-validate="La contraseña debe ser correcta">
						<span class="label-input100">Contraseña</span>
						<input asp-for="Input.Password" class="input100" type="password" name="Password" autocomplete="Password" placeholder="Introduzca la nueva contraseña">
						<label asp-for="Input.Password" class="form-label"></label>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
						<span class="focus-input100"></span>
					</div>
					<div style="margin-top:30px;margin-bottom:30px" class="wrap-input100 validate-input m-b-18" data-validate="La contraseña debe ser la misma a la introducida anteriormente">
						<span class="label-input100">Confirmar Contraseña</span>
						<input asp-for="Input.RepeatPassword" class="input100" type="password" name="RepeatPassword" autocomplete="RepeatPassword" placeholder="Repita la nueva contraseña">
						<label asp-for="Input.RepeatPassword" class="form-label"></label>
						<span asp-validation-for="Input.RepeatPassword" class="text-danger"></span>
						<span class="focus-input100"></span>
					</div>
					<button class="w-100 btn btn-lg btn-primary">Restablecer</button>
				</form>
			</div>
		</div>
	</div>
	</body>
</html>
